# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
src-tauri/target
src-tauri/Cargo.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Build artifacts
*.msi
*.app
*.AppImage
*.deb
*.rpm
*.dmg
*.exe

# Provision profiles and certificates
*.provisionprofile
*.mobileprovision
*.p12
*.pem
*.cer
*.crt
embedded.provisionprofile
